* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  background-color: #181f2a;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  background: linear-gradient(138.1deg, #63e1d9 -49.34%, #34a0cd 100%);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 28px;
  border: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 2rem 9.6rem;
  cursor: pointer;
}
.btn:hover {
  background: #8adae3;
}

img {
  max-width: 100%;
}

.header .navbar {
  max-width: min(90%, 144rem);
  margin: 7.3rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar .nav-links {
  display: flex;
}
.header .navbar .nav-links li {
  margin-left: 5.7rem;
}
.header .navbar .nav-links li .nav-link {
  font-size: 1.4rem;
  transition: all 0.25s ease-in-out;
}
.header .navbar .nav-links li .nav-link:hover {
  text-shadow: 0 0 0.65px #fff, 0 0 0.65px #fff;
  text-decoration: underline;
}
.header .hero .hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 73rem;
  margin: 0 auto;
  text-align: center;
}
.header .hero .hero-container .hero-title {
  font-size: 4rem;
  line-height: 6rem;
  font-weight: 700;
  margin-block: 3.6rem;
}
.header .hero .hero-container .hero-description {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 3.2rem;
  width: 59rem;
}

.services {
  padding-block: 15rem;
}
.services .service-container {
  max-width: 88rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14rem;
  text-align: center;
}
.services .service-container .service .service-title {
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
}
.services .service-container .service .service-description {
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.cta-banner .cta-container {
  max-width: min(90%, 144rem);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5.7rem;
}
.cta-banner .cta-container .cta-text {
  max-width: 56rem;
}
.cta-banner .cta-container .cta-text .cta-title {
  font-size: 4rem;
  line-height: 5rem;
}
.cta-banner .cta-container .cta-text .cta-description {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
}
.cta-banner .cta-container .cta-text .cta-btn {
  display: flex;
  align-items: center;
  width: 30%;
  color: #62e0d9;
  line-height: 2.2rem;
  border-bottom: 1px solid #62e0d9;
  transition: all 0.25s ease-in-out;
}
.cta-banner .cta-container .cta-text .cta-btn:hover {
  color: #fff;
  border-color: #fff;
}
.cta-banner .cta-container .cta-text .cta-btn ion-icon {
  margin-left: 0.4rem;
}

.testimonials {
  padding-block: 18rem;
}
.testimonials .testimonial-container {
  max-width: min(90%, 144rem);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  position: relative;
}
.testimonials .testimonial-container .quote {
  position: absolute;
  top: -3.5rem;
  z-index: -1;
}
.testimonials .testimonial-container .testimonial {
  background-color: #202a3c;
  padding: 4rem 2.4rem;
}
.testimonials .testimonial-container .testimonial .feedback {
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: 0.5px;
}
.testimonials .testimonial-container .testimonial .customer-info {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
}
.testimonials .testimonial-container .testimonial .customer-info img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}
.testimonials .testimonial-container .testimonial .customer-info .customer .author {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2rem;
  letter-spacing: 0.5px;
  margin-bottom: 0.4rem;
}
.testimonials .testimonial-container .testimonial .customer-info .customer .job {
  font-size: 7px;
  line-height: 1rem;
  letter-spacing: 0.5px;
}

.subscribe-banner .subscribe-container {
  width: 86rem;
  margin: 0 auto;
  background: #1b2330;
  padding: 4.2rem 7.7rem;
  border-radius: 9px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 5rem;
}
.subscribe-banner .subscribe-container .subscribe-title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.8rem;
  margin-bottom: 1.6rem;
}
.subscribe-banner .subscribe-container .subscribe-description {
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-bottom: 3.8rem;
}
.subscribe-banner .subscribe-container .form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe-banner .subscribe-container .form #email {
  width: 48rem;
  height: 4.8rem;
  border-radius: 4.8rem;
  border: none;
  padding-left: 3.8rem;
}
.subscribe-banner .subscribe-container .form #email ::placeholder {
  color: #c0c0c0;
}
.subscribe-banner .subscribe-container .form .btn {
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 1.5rem 2.6rem;
}

.footer {
  background-color: #0b1524;
  padding: 17rem 0 5.3rem 0;
  z-index: 1;
}
.footer .footer-container {
  max-width: min(90%, 144rem);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 35rem 1fr 1fr 1fr 1fr;
  gap: 5rem;
}
.footer .footer-container .logo-box img {
  width: 10rem;
  margin-bottom: 5rem;
}
.footer .footer-container .logo-box .location {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.footer .footer-container .logo-box .location ion-icon {
  width: 4rem;
}
.footer .footer-container .contact-box p {
  margin-bottom: 2rem;
}
.footer .footer-container .contact-box ion-icon {
  margin-right: 2rem;
}
.footer .footer-container .footer-links li {
  margin-bottom: 1.6rem;
}
.footer .footer-container .footer-links .footer-link {
  transition: all 0.25s ease-in-out;
}
.footer .footer-container .footer-links .footer-link:hover {
  text-shadow: 0 0 0.65px #fff, 0 0 0.65px #fff;
}
.footer .footer-container .social-links .social-link {
  display: inline-block;
  font-size: 1.4rem;
  margin-left: 1.2rem;
  outline: 0.918357px solid #dfe4f0;
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 50%;
  padding: 0.85rem;
  transition: all 0.25s ease-in-out;
}
.footer .footer-container .social-links .social-link:hover {
  color: #62e0d9;
  outline-color: #62e0d9;
}

@media screen and (max-width: 800px) {
  .header .navbar {
    margin-top: 2.4rem;
    margin-bottom: 4.8rem;
  }
  .header .navbar .logo {
    width: 8rem;
  }
  .header .navbar .nav-links li {
    margin-left: 2.4rem;
  }
  .header .navbar .nav-links li .nav-link {
    font-size: 1.2rem;
  }
  .header .hero .hero-container img {
    width: 30rem;
  }
  .header .hero .hero-container .hero-title {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }
  .header .hero .hero-container .hero-description {
    font-size: 1.4rem;
    line-height: 2.1rem;
    width: 30rem;
  }

  .services .service-container {
    grid-template-columns: 1fr;
  }

  .cta-banner .cta-container {
    flex-direction: column;
  }
  .cta-banner .cta-container .cta-text {
    width: 34rem;
  }
  .cta-banner .cta-container .cta-text .cta-title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 1.6rem;
  }
  .cta-banner .cta-container .cta-text .cta-title br {
    display: none;
  }
  .cta-banner .cta-container .cta-text .cta-btn {
    width: 38%;
    font-size: 1.2rem;
  }

  .testimonials .testimonial-container {
    grid-template-columns: 1fr;
  }

  .subscribe-banner .subscribe-container {
    width: 34rem;
    padding: 4rem 2.2rem;
  }
  .subscribe-banner .subscribe-container .subscribe-title {
    font-size: 1.8rem;
  }
  .subscribe-banner .subscribe-container .form {
    flex-direction: column;
  }
  .subscribe-banner .subscribe-container .form #email {
    width: 28rem;
    margin-bottom: 2.4rem;
  }
  .subscribe-banner .subscribe-container .form .btn {
    width: 100%;
  }

  .footer {
    padding: 8.3rem 0 5.2rem 0;
  }
  .footer .footer-container {
    grid-template-columns: 1fr;
  }
  .footer .footer-container .social-links {
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
